<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<fieldset>
		<h1>Register</h1>
		<form (submit)=register()>
			<input type="text" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName">
			<input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName">
			<input type="text" name="email" placeholder="Email" [(ngModel)]="user.email">
			<input type="text" name="password" placeholder="Password" [(ngModel)]="user.password">
			<input type="text" name="confirmPassword" placeholder="Confirm Password">
			<input type="submit" value="Register">
		</form>
	</fieldset>
	<p>Already a member? <a [routerLink]="['/login']">Login</a></p>
</body>

</html>