#main{
    text-align: center;
}

.card {
    padding: 10px;
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
}

h1{
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.form-control{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2rem;
}

p{
    margin-top: -1rem;
    color: red;
}

#linker{
    margin-bottom: 4rem;
    margin-top: 1rem;
    color: white;
}