<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container" id="main">
		<div class="card">
			<h1 class="text-warning">Register a New Account</h1>
			<form (submit)=register()>
				<div class="form-group">
					<input class="form-control" type="text" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName">
					<input class="form-control" type="text" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName">
					<input class="form-control" type="text" name="email" placeholder="Email" [(ngModel)]="user.email">
					<input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
					<input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password">
					<input class="btn btn-outline-success" type="submit" value="Register">
				</div>
			</form>
		</div>
		<p>Already a member? <a [routerLink]="['/login']">Login</a></p>
	</div>
</body>

</html>