<div class="container" style="margin-top: 10px;">
  <section>
    <div class="container">
      <div class="sidebar" [@animateSidebar]='toggleSidebarStateName'>
        <!-- <div class="sidebar-line"></div> -->
        <a href="javascript:void(0)" class="closebtn" (click)="toggleSidebar()">&times;</a>
        <div>
          <h4 class="text-success">{{user.firstName}} {{user.lastName}}</h4>
          <p class="info text-warning">Email</p>
          <p>{{user.email}}</p>
          <p class="info text-warning">Member Since</p>
          <p>{{user.createdAt | date:'fullDate'}}</p>
          <p class="info text-warning">Questions Asked</p>
          <p>{{user._questions.length}}</p>
          <p class="info text-warning">Answers Posted</p>
          <p>{{user._answers.length}}</p>
          <p class="info text-warning">Comments</p>
          <p>{{user._comments.length}}</p>
        </div>
      </div>
    </div>
  </section>
  <app-nav (updateAppEvent)="receiveNavbarUpdate($event)"></app-nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>