<div class="container">
  <form>
    <div class="form-group">
      <div class="form-item create-input">
        <input class="form-control" type="text" name="content" placeholder="Question" minlength="1" maxlength="140" required [(ngModel)]="question.content" #questionContent="ngModel"/>
      </div>
      <input *ngIf='!questionContent.errors' type="submit" value="Post" (click)="createQuestion()" class="btn btn-outline-success btn-child-forms">
    </div>
  </form>
  <div class="error-msg" *ngIf='questionContent.errors && questionContent.dirty'>
      <p class="text-warning">Question must be 1 to 140 characters long.</p>
  </div>
  <!-- <p>question.content: {{question['content']}}</p>
  <p>question._user: {{question['_user']}}</p>
  <p>question: {{question}}</p>
  <p>userId: {{userId}}</p>  
  <p>randomObj: {{randomObj}}</p> -->
</div>