/* You can add global styles to this file, and also import other style files */
/* *{  
    outline: red 1px solid;
} */

h1 h2 h3 h4 h5 h6 form{
    display: block;
}

.forum-top{
    height: 36px;;
}

.forum-top-left{
    width: 49%;
    height: 100%;
}

.forum-top-right{
    width: 49%;
    height: 100%;
}

.forum-top-left a{
    line-height: 36px;
}

.card{
    width: 100%;
    margin-top: 1rem;
}

.card-authorship {
    padding-top: 0.5rem;
    padding-bottom: 0;
    padding-left: 5rem;
}

.card-body {
    margin-top: 0px;
    padding-top: 0.5rem !important;
    padding-bottom: 0rem !important;
}

.forum-content-type{
    width:50px; 
    height:50px; 
    text-align:center; 
    line-height:50px; 
    font-size:30px; 
    margin-right:10px;
    background: whitesmoke;
    color: black;
    border-radius: 50%;
}

.forum-content-type-comment{
    background: transparent;
}

.author{
    display: inline;
    margin-right: 10px;
}
.dateAuthored{
    display: inline;
    color: darkgray;
}

.card-actions{
    float: right;
    margin-right: 1rem;
}
.comments-container{
    width: 80%;
}

.question-top{
    height: 36px;;
}

.question-top-left{
    width: 49%;
    height: 100%;
}

.question-top-right{
    width: 49%;
    height: 100%;
}

.question-top-left a{
    line-height: 36px;
}

.btn-child-forms{
    margin-top: 1rem;
}

.card-actions-lower{
    margin-bottom: .75rem;
    text-align: right;
}

/* .answer-content-line{
    width: 0px;
    min-height: 50px;
    height: 100%;
    float: left;
    border-left: thick solid #00bc8c;
    margin-right: .5rem;
}

.comment-content-line{
    width: 0px;
    min-height: 50px;
    height: 100%;
    float: left;
    border-left: thick solid #fd7e14;
    margin-right: .5rem;
} */

.answer-card{
    margin-left: 3rem;
}
.comment-card{
    margin-left: 6rem;
}
.answer-content{
    margin-left: 60px;
    margin-bottom: .5rem;
    min-height: 50px; 
    border-left: thick solid #00bc8c;
    /* display: inline-block; */
    padding-left: 0.5rem;
}
.comment-content{
    margin-left: 60px;
    margin-bottom: .5rem;
    min-height: 50px; 
    border-left: thick solid #fd7e14;
    /* display: inline-block; */
    padding-left: 0.5rem;
}

/* #input-forms-bottom form{
    margin: 0;
} */

.scrollable-div{
    /* background: orange; */
    overflow:auto;
    /* scroll-behavior: auto; */
    /* position: relative; */
    margin-bottom: 3.5rem;
}

#input-forms-bottom{
    /* background: blue; */
    /* padding-top: 0.5rem; */
    width: 100%;
    position: fixed; 
    bottom: 3rem;
    padding: 0.25rem;
    z-index: 1;
}

.bottom-form-card{
    /* outline: 1px orangered solid; */
    /* background: blue; */
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#input-forms-bottom form{
    width: 100%;
}

/* .form-left{ */
    /* width: 80%; */
    /* display: inline-block; */
    /* vertical-align: top; */
/* } */

/* .form-right{ */
    /* width: 18%; */
    /* text-align: center; */
    /* display: inline-block; */
    /* vertical-align: top; */
/* } */

/* .error-msg{
    display: inline;
} */

/* #userXpInput{

} */

.sidebar{
    /* clear:none; */
    /* float:left; */
    /* position: absolute; */
    /* float: right; */
    /* height: 80%; */
    /* right: 0; */
    /* width: 10rem; */
    /* background: aqua; */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color:#303030;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 2rem;
}

.sidebar-line{
    width: 0px;
    min-height: 50px;
    height: 100%;
    float: left;
    border-left: thick solid #fd7e14;
    margin-right: .5rem;
    margin-left: 25px;
}

.closebtn{
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    /* margin-left: 50px; */
}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav
https://www.w3schools.com/howto/howto_js_sidenav.asp */
